extends layout 

block content 

    header.main-header
        div.header-container
            h1 #{title} #[span.count (#{brand_items.length})]
        button.btn-update #[a(href=brand._id+'/update')  Update Brand]
    div.list 
     each item in brand_items 
        div.card-container.item_list_card
            a(href=item.url)
            img(src=item.imgURL)
            div.list-details
                h2 #{item.price} $ 
                h4 #{item.brand.name} - #{item.name}
                p Qty: #{item.qty}                      
            div.item-categories-buttons
             each cat in item.category
                button.btn-item-ctg.btn-update #[a(href=cat.url) #{cat.name}]